*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  }

.col-card {
  
    transition: transform .2s;
  }
  
  .col-card:hover {
    transform: scale(1.1); 
    
  box-shadow: 5px 10px #888888; 
  border: 1px solid;


 
  }


  .shop-cart-main{
    background-image: url('https://static.vecteezy.com/system/resources/previews/002/623/464/non_2x/concept-of-shopping-online-with-smart-phone-on-blue-sky-background-vector.jpg');
	background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  overflow: hidden;

}

#main-head{
  color:coral;
  text-shadow: 2px 2px #FF0000;
}

.checkout{
  background-image: url('https://cdn.shopify.com/s/files/1/0200/7466/articles/blog-checkout_1400x.jpg?v=1592935831');
	background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  opacity: 0.8;
  height:1000px;
}

label{
  font-weight: bolder;
}